<ul>
<% @movies.each do |movie| %>
<li>
<strong><%= movie.title %></strong>
<%= movie.rating %>
<%= total_gross(movie) %>
<p>
<%= truncate(movie.description, length: 40, separator: ' ') %>
</p>
<p>
<%= movie.released_on %>
</p>

</li>
<% end %>
</ul>