<ul>
<% @movies.each do |movie| %>
<li>
<strong><%= movie.title %></strong>
<%= movie.rating %>
<%= movie.total_gross %>
<p>
<%= truncate(movie.description, length: 40, separator: ' ') %>
</p>
<p>
<%= movie.released_on %>
</p>


<%= number_to_currency(movie.total_gross, precision:0, unit:"₽")  %>

</li>
<% end %>
</ul>